.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log
npm-debug.log
/coverage
package-lock.json
.firebase-config.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.iml
/.vscode
